<%= render 'layouts/adminheadmenu' %>
<div id="layout-container">
  <div id="main">  
    <div class="head-title">
    </div>
    <div class="menu-switch">
      <i class="fa fa-bars"></i>
    </div>
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="margin-container">
    <div class="scrollable wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="page-heading">
            <h1><b>Criar Empresa Junior</b></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="box-info">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td>
                  <div>
                    <div id="wizard" class="swMain">
                        <%= form_for(@junior_enterprise) do |f| %>
                          <% if @junior_enterprise.errors.any? %>    
                              <% @junior_enterprise.errors.full_messages.each do |msg| %>
                                <div class= "alert alert-danger">
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= msg %>
                                </div>
                              <% end %>    
                          <% end %>
                          <% flash.each do |name, msg| %>      
                            <% if msg.is_a?(String) %>
                              <% if flash[:error] -%>
                                <div class="alert alert-danger" >
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                </div>
                              <% end %>

                              <% if flash[:alert] -%>
                                <div class="alert alert-warning" >
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                </div>
                              <% end %>

                              <% if flash[:notice] -%>
                                <div class="alert alert-success" >
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>

                          <ul class="anchor">
                            <li>
                              <a class="selected">
                                <span class="stepDesc">Dados<br></span>
                              </a>
                            </li>
                          </ul>
                          <div id="step-1" style="display: block; left: 0px;">
                            <table cellspacing="3" cellpadding="3" align="center">
                              <tbody>
                                <tr>
                                  <td align="center" colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="right">Nome</td>
                                  <td align="left">
                                    <%= f.text_field :name, class: "txtBox", placeholder: "Nome"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Slogan</td>
                                  <td align="left">
                                    <%= f.text_area :phrase, class: "txtBox", placeholder: "Frase"  %>
                                  </td>
                                </tr>                                
                                <tr>
                                  <td align="right">Descrição</td>
                                  <td align="left">
                                    <%= f.text_area(:description, class: "txtBox", placeholder: "Descrição", rows: 10, cols: 25)  %>
                                  </td>
                                </tr>                                
                                <tr>
                                  <td align="right">Curso</td>
                                  <td align="left">
                                    <%= f.text_field(:course, class: "txtBox", placeholder: "Curso", size: 20)  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Área de Atuação :</td>
                                  <td align="left">
                                    <%= select_tag "junior_enterprise[area]", "<option>Ainda Em Construção</option>".html_safe, class: 'form-control' %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Tipo de Serviço:</td>
                                  <td align="left">
                                      <%= f.check_box :project, style:"margin-left:5px"%> Projetos
                                      <%= f.check_box :consultor, style:"margin-left:5px"%> Consultoria
                                      <%= f.check_box :training, style:"margin-left:5px"%> Treinamento
                                      <%= f.check_box :product, style:"margin-left:5px"%> Produtos
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Site</td>
                                  <td align="left">
                                    <%= f.text_field :site, class: "txtBox", placeholder: "Site"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Telefone</td>
                                  <td align="left">
                                    <%= f.text_field :phone, class: "txtBox", placeholder: "Telefone"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Facebook</td>
                                  <td align="left">
                                    <%= f.text_field :facebook, class: "txtBox", placeholder: "Facebook"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Youtube</td>
                                  <td align="left">
                                    <%= f.text_field :youtube, class: "txtBox", placeholder: "Youtube"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Estado</td>
                                  <td align="left">
                                    <%= select_tag "junior_enterprise[state]", "<option>Acre</option><option>Alagoas</option><option>Amapá</option><option>Amazonas</option><option>Bahia</option><option>Ceará</option><option>Distrito Federal</option><option>Espirito Santo</option><option>Goiás</option><option>Maranhão</option><option>Mato Grosso</option><option>Mato Grosso do Sul</option><option>Minas Gerais</option><option>Pará</option><option>Paraíba</option><option>Paraná</option><option>Pernambuco</option><option>Piauí</option><option>Rio de Janeiro</option><option>Rio Grande do Norte</option><option>Rio Grande do Sul</option><option>Rondônia</option><option>Roraima</option><option>Santa Catarina</option><option>São Paulo</option><option>Sergipe</option><option>Tocantins</option>".html_safe, class: 'form-control' %>
                                  </td>
                                </tr>

                                <tr>
                                  <td align="right">Cidade</td>
                                  <td align="left">
                                    <%= f.text_field :city, class: "txtBox", placeholder: "Cidade"  %>
                                  </td>
                                </tr>

                                <tr>
                                  <td align="right">Endereço :</td>
                                  <td align="left">
                                    <%= f.text_field :address, class: "txtBox", placeholder: "Endereço, Rua e Numero"  %>
                                  </td>
                                </tr>

                                <tr>
                                  <td align="right">Logo</td>
                                  <td align="left">
                                    <%= f.file_field :logo, class: "txtBox" %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <br>
                          <div class="stepContainer" style="height: 179px;"></div>
                          <div class="actionBar">
                            <%= submit_tag "Criar",:class=> 'buttonFinish'%>
                          </div>
                        <% end %>                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>

<script>
  $("#junior_enterprise_email").inputmask({ alias: "email"});
  $("#junior_enterprise_phone").inputmask("(99)9999-9999");
</script>
