<%= render 'layouts/adminheadmenu' %>
<div id="layout-container">
  <div id="main">  
    <div class="head-title">
    </div>
    <div class="menu-switch">
      <i class="fa fa-bars"></i>
    </div>
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="margin-container">
      <div class="scrollable wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="page-heading">
              <h1>Usuários</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="box-info">
            <a href="/admin/users/new" class="btn btn-primary">Novo Usuário</a>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Tipo</th> 
                    <th>Estado</th>                      
                    <th></th>                    
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each do |u| %>
                    <tr>
                      <td><%= u.email %></td>
                      <td><%= u.password %></td>
                      <td><%= format_function(u.function) %></td>
                      <td><%= u.state %></td>
                      <td style="text-align:center"><a href="/admin/users/edit/<%= u.id %>" class="btn btn-warning" type="button">Editar</a></td>
                      <td style="text-align:center"><a href="/admin/users/delete/<%= u.id %>" class="btn btn-danger" type="button">Deletar</a></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <%= paginate @users %>
        </div>
      </div>
    </div>
    </div>
</div>