<%= render 'layouts/adminheadmenu' %>
<div id="layout-container">
  <div id="main">  
    <div class="head-title">
    </div>
    <div class="menu-switch">
      <i class="fa fa-bars"></i>
    </div>
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="margin-container">
    <div class="scrollable wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="page-heading">
            <h1><b>Editar Usuário</b></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="box-info">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td>
                  <div>
                    <div id="wizard" class="swMain">
                        <%= form_for(@user) do |f| %>
                          <% if @user.errors.any? %>    
                              <% @user.errors.full_messages.each do |msg| %>
                                <div class= "alert alert-danger">
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= msg %>
                                </div>
                              <% end %>    
                          <% end %>
                          <% flash.each do |name, msg| %>      
                            <% if msg.is_a?(String) %>
                              <% if flash[:error] -%>
                                <div class="alert alert-danger" >
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                </div>
                              <% end %>

                              <% if flash[:alert] -%>
                                <div class="alert alert-warning" >
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                </div>
                              <% end %>

                              <% if flash[:notice] -%>
                                <div class="alert alert-success" >
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>

                          <ul class="anchor">
                            <li>
                              <a class="selected">
                                <span class="stepDesc">Dados<br></span>
                              </a>
                            </li>
                          </ul>
                          <div id="step-1" style="display: block; left: 0px;">
                            <table cellspacing="3" cellpadding="3" align="center">
                              <tbody>
                                <tr>
                                  <td align="center" colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="right">E-mail</td>
                                  <td align="left">
                                    <%= f.text_field :email, class: "txtBox", placeholder: "E-mail"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Tipo</td>
                                  <td align="left">
                                    <%= select_tag "user[function]", "<option value='user'>Usuário</option><option value='admin'>Administrador</option><option value='federation'>Federação</option>".html_safe, class: 'form-control' %>
                                  </td>
                                </tr>
                                <tr id="hidden_select" >
                                  <td align="right">Estado</td>
                                  <td align="left">
                                    <%= select_tag "user[state]", "<option></option><option>Acre</option><option>Alagoas</option><option>Amapá</option><option>Amazonas</option><option>Bahia</option><option>Ceará</option><option>Distrito Federal</option><option>Espirito Santo</option><option>Goiás</option><option>Maranhão</option><option>Mato Grosso</option><option>Mato Grosso do Sul</option><option>Minas Gerais</option><option>Pará</option><option>Paraíba</option><option>Paraná</option><option>Pernambuco</option><option>Piauí</option><option>Rio de Janeiro</option><option>Rio Grande do Norte</option><option>Rio Grande do Sul</option><option>Rondônia</option><option>Roraima</option><option>Santa Catarina</option><option>São Paulo</option><option>Sergipe</option><option>Tocantins</option>".html_safe, class: 'form-control' %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <br>
                          <div class="stepContainer" style="height: 179px;"></div>
                          <div class="actionBar">
                            <%= submit_tag "Criar",:class=> 'buttonFinish'%>
                          </div>
                        <% end %>                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
<script>
  $('#hidden_select').hide();
  $("#user_email").inputmask({ alias: "email"});
</script>

<script type="text/javascript">
$('#user_function').bind('change', function(event) {
  var i = $('#user_function').val();

  if(i=="federation")
   {    
    $("#hidden_select").fadeIn(500);
   }
 else
   {        
    $("#hidden_select").fadeOut(500);
   }
});
</script>