<div class="container login-bg">
	<div class="login-form-signin">
	  <div class="login-logo"><%= image_tag("logo.png") %></div>
	  <h2 class="login-form-signin-heading">Crie seu Usuário</h2>
	  <div class="login-wrap">
	    <%= form_for(@user) do |f| %>
	      <% flash.each do |name, msg| %>      
	        <% if msg.is_a?(String) %>
	          <% if flash[:error] -%>
	            <div class="alert alert-danger" >
	              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	              <%= content_tag :div, msg, :id => "flash_#{name}" %>
	            </div>
	          <% end %>

	          <% if flash[:alert] -%>
	            <div class="alert alert-warning" >
	              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	              <%= content_tag :div, msg, :id => "flash_#{name}" %>
	            </div>
	          <% end %>

	          <% if flash[:notice] -%>
	            <div class="alert alert-success" >
	              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	              <%= content_tag :div, msg, :id => "flash_#{name}" %>
	            </div>
	          <% end %>
	        <% end %>
	      <% end %> 

	      <div class="form-group has-feedback lg left-feedback no-label">
	        <%= f.text_field :email, class: "form-control", placeholder: "Email da Empresa Junior"  %>
	      </div>
	      <button type="submit" method="post" class="btn btn-lg btn-primary btn-block">Criar</button>
	    <% end %>

	    <form method="get" action="/log_in">
	      <button class="btn btn-success btn-block">Retornar</button>
	    </form>
	  </div>
  </div>
</div>