<div id="layout-container">
  <%= render 'layouts/lateralmenu' %>
  <div id="main">  
    <%= render 'layouts/headmenu' %>
      <div class="margin-container">
        <div class="scrollable wrapper">
          <div class="row">
            <div class="col-md-12">
              <div class="page-heading">
                <h1>Editando</h1>
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col-md-9">
          <div class="box-info">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td>
                  <div>
                    <div id="wizard" class="swMain">
                        <%= form_for(@junior_enterprise) do |f| %>
                          <% flash.each do |name, msg| %>      
                            <% if msg.is_a?(String) %>
                              <% if flash[:error] -%>
                                <div class="alert alert-danger" >
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                </div>
                              <% end %>

                              <% if flash[:alert] -%>
                                <div class="alert alert-warning" >
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                </div>
                              <% end %>

                              <% if flash[:notice] -%>
                                <div class="alert alert-success" >
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>

                          <ul class="anchor">
                            <li>
                              <a class="selected">
                                <span class="stepNumber">1</span>
                                <span class="stepDesc">Dados<br></span>
                              </a>
                            </li>
                          </ul>
                          <div id="step-1" style="display: block; left: 0px;">
                            <table cellspacing="3" cellpadding="3" align="center">
                              <tbody>
                                <tr>
                                  <td align="center" colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="right">Nome :</td>
                                  <td align="left">
                                    <%= f.text_field :name, class: "txtBox", placeholder: "Nome"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Curso :</td>
                                  <td align="left">
                                    <%= f.text_field :course, class: "txtBox", placeholder: "Curso"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Área de Atuação :</td>
                                  <td align="left">                                    
                                    <%= select_tag('junior_enterprise[area]', options_for_select([['Em Construção']], selected: @junior_enterprise.area )) %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Tipo de Serviço:</td>
                                  <td align="left">
                                      <%= f.check_box :project, style:"margin-left:5px"%> Projetos
                                      <%= f.check_box :consultor, style:"margin-left:5px"%> Consultoria
                                      <%= f.check_box :training, style:"margin-left:5px"%> Treinamento
                                      <%= f.check_box :product, style:"margin-left:5px"%> Produtos
                                  </td>
                                </tr> 
                                <tr>
                                  <td align="right">Estado :</td>
                                  <td align="left">                                    
                                    <%= select_tag('junior_enterprise[state]', options_for_select([['Acre'],['Alagoas'], ['Amapá'], ['Amazonas'], ['Bahia'], ['Ceará'], ['Distrito Federal'], ['Espirito Santo'], ['Goiás'], ['Maranhão'], ['Mato Grosso'], ['Mato Grosso do Sul'], ['Minas Gerais'], ['Pará'], ['Paraíba'], ['Paraná'], ['Pernambuco'], ['Piauí'], ['Rio de Janeiro'], ['Rio Grande do Norte'], ['Rio Grande do Sul'], ['Rondônia'], ['Roraima'], ['Santa Catarina'], ['São Paulo'], ['Sergipe'], ['Tocantins']], selected: @junior_enterprise.state )) %>
                                  </td>
                                <tr>
                                  <td align="right">Cidade :</td>
                                  <td align="left">
                                    <%= f.text_field :city, class: "txtBox", placeholder: "Cidade"  %>
                                  </td>
                                </tr>

                                <tr>
                                  <td align="right">Endereço :</td>
                                  <td align="left">
                                    <input class="txtBox" id="junior_enterprise_address" name="junior_enterprise[address]" placeholder="Endereço, Rua e Numero" type="text" rel="tooltip" title="Cuidado ao preencher o seu endereço, cheque no Google Maps se há algum resultado.">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <br>

                          <ul class="anchor">
                            <li>
                              <a class="selected">
                                <span class="stepNumber">2</span>
                                <span class="stepDesc">Detalhes<br></span>
                              </a>
                            </li>
                          </ul>
                          <div id="step-1" style="display: block; left: 0px;">
                            <table cellspacing="3" cellpadding="3" align="center">
                              <tbody>
                                <tr>
                                  <td align="center" colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="right">Slogan :</td>
                                  <td align="left">
                                    <%= f.text_area :phrase, class: "form-control", placeholder: "Frase"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Descrição :</td>
                                  <td align="left">
                                    <%= f.text_area :description, class: "form-control", placeholder: "Descrição"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Telefone :</td>
                                  <td align="left">
                                    <%= f.text_field :phone, class: "txtBox", placeholder: "Telefone"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Site :</td>
                                  <td align="left">
                                    <%= f.text_field :site, class: "txtBox", placeholder: "Site"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Facebook :</td>
                                  <td align="left">
                                    <%= f.text_field :facebook, class: "txtBox", placeholder: "Facebook"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Youtube :</td>
                                  <td align="left">
                                    <%= f.text_field :youtube, class: "txtBox", placeholder: "Youtube"  %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <br>

                          <ul class="anchor">
                            <li>
                              <a class="selected">
                                <span class="stepNumber">3</span>
                                <span class="stepDesc">Arquivos<br></span>
                              </a>
                            </li>
                          </ul>
                          <div id="step-1" style="display: block; left: 0px;">
                            <table cellspacing="3" cellpadding="3" align="center">
                              <tbody>
                                <tr>
                                  <td align="center" colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="right">Logo :</td> 
                                  <td align="left" id="logo" rel="tooltip" title="Use de imagens com fundo branco e resolução de até no máximo 120x120.">  
                                    <%= f.file_field :logo, class: "txtBox" %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <br>

                          <div class="stepContainer" style="height: 179px;"></div>
                          <div class="actionBar">
                            <button type="submit"  class="buttonFinish">Atualizar</button>
                          </div>
                        <% end %>                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </div>
</div>
<script>
$(function(){
  $("#junior_enterprise_address[rel='tooltip']").tooltip();
  $("#logo[rel='tooltip']").tooltip();
  $("#junior_enterprise_email").inputmask({ alias: "email"});
  $("#junior_enterprise_phone").inputmask("(99)9999-9999");
})
</script>