<div id="layout-container">
  <div id="main" style="left:   0px !important;">  
    <div class="head-title">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
  <div class="margin-container">
    <div class="scrollable wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="page-heading">
          </div>
        </div>
      </div>
      <div class="row">
              <div class="profile-info col-lg-9 col-lg-offset-1">                  
                  <div class="panel">
                      <div class="bio-graph-heading">
                        <h1>Encontre a Empresa Junior que irá solucionar os seus problemas<h1>
                      </div>
                      <div class="panel-body bio-graph-info">
                          <div class="row">
                              <%= form_tag search_path, :method => 'get' do %>
                              <p>
                                <h5><strong>Você sabe o nome da Empresa Junior?</strong><h5>
                                <div class="form-group has-feedback lg left-feedback no-label">
                                  <%= text_field_tag "name", params[:name], class: "form-control", placeholder: "Nome", style: "width: 30%; margin-left: 1%;" %>
                                </div>
                              </p>
                              <p>
                                <h5><strong>Em que área você precisa de apoio?</strong><h5>
                                <div class="form-group has-feedback lg left-feedback no-label">
                                  <%= select_tag "area", "<option>Ainda em Construção</option>".html_safe, class: 'form-control', include_blank: true , style: "width: 30%; margin-left: 1%;"%>
                                </div>
                              </p>
                              <p>
                                <h5><strong>Qual o seu estado?</strong><h5>
                                <div class="form-group has-feedback lg left-feedback no-label">
                                  <%= select_tag "state", "<option></option><option>Acre</option><option>Alagoas</option><option>Amapá</option><option>Amazonas</option><option>Bahia</option><option>Ceará</option><option>Distrito Federal</option><option>Espirito Santo</option><option>Goiás</option><option>Maranhão</option><option>Mato Grosso</option><option>Mato Grosso do Sul</option><option>Minas Gerais</option><option>Pará</option><option>Paraíba</option><option>Paraná</option><option>Pernambuco</option><option>Piauí</option><option>Rio de Janeiro</option><option>Rio Grande do Norte</option><option>Rio Grande do Sul</option><option>Rondônia</option><option>Roraima</option><option>Santa Catarina</option><option>São Paulo</option><option>Sergipe</option><option>Tocantins</option>".html_safe, class: 'form-control', style: "width: 30%; margin-left: 1%;" %>
                                </div>
                              </p>
                              <p>
                                <h5><strong>Quais dos seguintes serviços você busca?</strong><h5>
                              </p>
                              <p>
                                <div class="form-group has-feedback lg left-feedback no-label">

                                  <label class="checkbox-inline">                                    
                                    <%= check_box_tag 'consultor', true, false%>Consultoria
                                  </label><br>
                                  <label class="checkbox-inline">                                    
                                    <%= check_box_tag 'project', true, false%>Projetos
                                  </label><br>
                                  <label class="checkbox-inline">                                    
                                    <%= check_box_tag 'training', true, false%>Treinamento
                                  </label><br>
                                  <label class="checkbox-inline">                                    
                                    <%= check_box_tag 'product', true, false, style:"margin-left=-10px !important;"%>Produtos
                                  </label><br>
                              </p>
                              <button type="submit" class="btn btn-success" style="margin-top: 15px;">Buscar</button>
                            <%end%>
                          </div>
                      </div>
                  </div>
              </div>
          </div>   
        </div>
      </div>
    </div>
</div>
