<div id="layout-container">
  <%= render 'layouts/lateralmenu' %>
  <div id="main">  
    <%= render 'layouts/headmenu' %>
      <div class="margin-container">
        <div class="scrollable wrapper">
          <div class="row">
            <div class="col-md-12">
              <div class="page-heading">
                <h1>Perfil</h1>
              </div>
            </div>
          </div>
          <div class="row">
                <div class="profile-info col-lg-9 col-lg-offset-1">                        
                    <div class="panel">
                        <div class="bio-graph-heading">
                           <%= current_user.junior_enterprise.phrase %> 
                        </div>
                        <div class="panel-body bio-graph-info">
                            <h1><%= current_user.junior_enterprise.name %></h1>
                            <div class="row">
                                <% current_user.junior_enterprise.messages.each do |m| %>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title"> <a href="#ac3-2" data-parent="#accordion3" data-toggle="collapse" class="collapsed"> <i class="fa fa-angle-right"></i> <%= m.name %> </a> </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="ac3-2">
                                      <div class="panel-body">Mensagem:  <%= m.text %> </div>

                                      <div class="panel-body">Contato: 
                                      <p>Telefone: <%= m.phone%></p>
                                      <p>E-Mail: <%= m.email %></p>
                                      </div>
                                    </div>
                                  </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
      </div>
    </div>
</div>