<div id="layout-container">    
  <%= render 'layouts/findmenu' %>
  <div id="main" style="left: 200px !important;">  
    <div class="head-title">
      <div class="menu-switch">
        <i class="fa fa-bars"></i>
      </div>
      <div class="row">
        <div class="col-md-12"></div>
      </div>  
    </div>
    <div class="margin-container">
      <div class="scrollable wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="page-heading">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="profile-info col-lg-9 col-lg-offset-1">
            <h1>
              <%= @junior_enterprise.name %>
            </h1>
            <div class="panel">
                <div class="bio-graph-heading">
                  <%= @junior_enterprise.phrase %>
                </div>
            </div>
            <div class="row">
              <div class="tab-container">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home">Informações</a></li>
                  <li><a data-toggle="tab" href="#profile">Membros</a></li>
                  <li><a data-toggle="tab" href="#messages">Contato</a></li>
                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane active cont">                  
                    <p>
                      <a href="#">
                        <%= image_tag( @junior_enterprise.logo_url, style: "width:64px; height:64px; border-radius:50%;") %>
                      </a>
                    </p>
                    <div class="row">
                      <div class="bio-row" style="width:100%">
                        <p><span>Área de Atuação: </span> ... </p>
                      </div>
                      <div class="bio-row">
                        <p><span>Site: </span> <%= @junior_enterprise.site%> </p>
                      </div>
                      <div class="bio-row">
                        <p><span>Telefone: </span> <%= @junior_enterprise.phone%> </p>
                      </div>
                      <div class="bio-row">
                        <p><span>Youtube: </span> <%= @junior_enterprise.youtube%></p>
                      </div>
                      <div class="bio-row">
                        <p><span>Facebook: </span><%= @junior_enterprise.facebook%></p>
                      </div>
                      <div class="bio-row">
                        <p><span>Estado </span><%= @junior_enterprise.state%></p>
                      </div>
                      <div class="bio-row">
                        <p><span>Cidade </span><%= @junior_enterprise.city%></p>
                      </div>
                    </div>
                  </div>
                  <div id="profile" class="tab-pane cont">
                    <h4>Conheça o nosso time!</h4>
                    <div>
                      <div class="row">                          
                        <% @junior_enterprise.members.each do |m|%>
                          <div class="col-lg-6">
                              <div class="panel">
                                  <div class="panel-body">
                                      <div class="bio-desk">                  
                                          <p>
                                            <a href="#">
                                              <%= image_tag( m.photo_url, style: "width:64px; height:64px; border-radius:50%;") %>
                                            </a>
                                          </p>
                                          <h4 class="red"><%= m.name %></h4>
                                          <p><%= m.position%></p>
                                      </div>
                                  </div>
                              </div>
                          </div> 
                        <% end %>                             
                      </div>
                    </div>
                  </div>
                  <div id="messages" class="tab-pane">
                    <div class="panel-body bio-graph-info">
                              <h1> Entre em contato </h1>
                              <%= form_for(@message , url: "/message/#{@junior_enterprise.id}") do |f| %>
                                <% flash.each do |name, msg| %>      
                                  <% if msg.is_a?(String) %>
                                    <% if flash[:error] -%>
                                      <div class="alert alert-danger" >
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                      </div>
                                    <% end %>

                                    <% if flash[:alert] -%>
                                      <div class="alert alert-warning" >
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                      </div>
                                    <% end %>

                                    <% if flash[:notice] -%>
                                      <div class="alert alert-success" >
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                      </div>
                                    <% end %>
                                  <% end %>
                                <% end %>

                                <div class="form-group">
                                      <label class="col-lg-2 control-label"> Mensagem </label>
                                      <div class="col-lg-10">
                                          <textarea rows="10" cols="30" class="form-control" id="message[text]" name="message[text]"></textarea>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Nome</label>
                                      <div class="col-lg-6">
                                          <%= f.text_field :name, class: "txtBox", placeholder: "Nome"  %>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">E-mail</label>
                                      <div class="col-lg-6">
                                          <%= f.text_field :email, class: "txtBox", placeholder: "E-mail"  %>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Telefone</label>
                                      <div class="col-lg-6">
                                          <%= f.text_field :phone, class: "txtBox", placeholder: "Telefone"  %>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-lg-offset-2 col-lg-10">
                                          <button class="btn btn-info" type="submit">Enviar</button>
                                      </div>
                                  </div>
                              <% end %>
                          </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>
