<div id="nav" style="width: 200px;">
  <div class="profile">
    <div class="logo"><a href="/"><img alt="Logo" src="/assets/logo.png"></a></div>
  </div>
  <ul class="navigation" style="width: 160px; padding-left: 15px">
    <%= form_tag search_path, :method => 'get' do %>
      <% flash.each do |name, msg| %>      
        <% if msg.is_a?(String) %>
          <% if flash[:error] -%>
            <div class="alert alert-danger" >
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <% end %>

          <% if flash[:alert] -%>
            <div class="alert alert-warning" >
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <% end %>

          <% if flash[:notice] -%>
            <div class="alert alert-success" >
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <% end %>
        <% end %>
      <% end %>  
      <p>
        <h5>Nome<h5>
        <div class="form-group has-feedback lg left-feedback no-label">
          <%= text_field_tag "name", params[:name], class: "form-control", placeholder: "Nome" %>
        </div>
      </p>
      <p>
        <h5>Área de Atuação</h5>
        <div class="form-group has-feedback lg left-feedback no-label">
          <%= text_field_tag "tag", params[:tags], class: "form-control", placeholder: "Área de Atuação" %>
        </div>
      </p>
      <p>
        <h5>Estado</h5>
        <div class="form-group has-feedback lg left-feedback no-label">
          <%= select_tag "state", "<option>Acre</option><option>Alagoas</option><option>Amapá</option><option>Amazonas</option><option>Bahia</option><option>Ceará</option><option>Distrito Federal</option><option>Espirito Santo</option><option>Goiás</option><option>Maranhão</option><option>Mato Grosso</option><option>Mato Grosso do Sul</option><option>Minas Gerais</option><option>Pará</option><option>Paraíba</option><option>Paraná</option><option>Pernambuco</option><option>Piauí</option><option>Rio de Janeiro</option><option>Rio Grande do Norte</option><option>Rio Grande do Sul</option><option>Rondônia</option><option>Roraima</option><option>Santa Catarina</option><option>São Paulo</option><option>Sergipe</option><option>Tocantins</option>".html_safe, class: 'form-control', include_blank: true %>
        </div>
      </p>

      <button type="submit" class="btn btn-success btn-block">Buscar</button>
    <%end%>
  </ul>
</div>