<div id="layout-container">
  <%= render 'layouts/lateralmenu' %>
  <div id="main">  
    <%= render 'layouts/headmenu' %>
      <div class="margin-container">
      <div class="scrollable wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="page-heading">
              <h1>Membros</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="box-info">
            <a href="/members/new" class="btn btn-primary">Adicionar ao Time</a>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Foto</th>
                    <th>Cargo</th>  
                    <th>E-mail</th>
                    <th>Telefone</th>                 
                    <th></th>                    
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @members.each do |m| %>
                    <tr>
                      <td><%= m.name %></td>
                      <td><%= image_tag(m.photo, style: "width:120px; height:120px ") %></td>
                      <td><%= m.position %></td>
                      <td><%= m.email %></td>
                      <td><%= m.phone %></td>
                      <td style="text-align:center"><a href="/members/edit/<%= m.id %>" class="btn btn-warning" type="button">Editar</a></td>
                      <td style="text-align:center"><a href="/members/delete/<%= m.id %>" class="btn btn-danger" type="button" data-method='delete'>Apagar</a></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>