<%= render 'layouts/headmenu' %>
<div id="layout-container">
  <div id="main">  
      <div class="head-title"></div>
      <div class="margin-container">
        <div class="scrollable wrapper">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
        <div class="profile-info col-lg-9 col-lg-offset-1">                        
            <div class="panel">
              <div class="bio-graph-heading">
                <h3> Mensagens </h3>
              </div>
              <div class="panel-body bio-graph-info">                
                      <%= form_for(@member) do |f| %>
                        <div id="wizard" class="swMain">
                          <div class="bio-graph-heading" style="padding: 15px;margin-left: 30px;margin-right: 30px;margin-bottom: 30px"> 1. Dados </div>
                          <div id="step-1" style="display: block; left: 0px;">
                            <table cellspacing="3" cellpadding="3" align="center">
                              <tbody>
                                <tr>
                                  <td align="right">Nome</td>
                                  <td align="left">
                                    <%= f.text_field :name, class: "txtBox", placeholder: "Nome"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Cargo</td>
                                  <td align="left">
                                    <%= f.text_field :position, class: "txtBox", placeholder: "Cargo"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Telefone</td>
                                  <td align="left">
                                    <%= f.text_field :phone, class: "txtBox", placeholder: "Telefone"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">E-mail</td>
                                  <td align="left">
                                    <%= f.text_field :email, class: "txtBox", placeholder: "E-mail"  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right">Foto</td>
                                  <td align="left" id="photo" rel="tooltip" title="Use imagens com resolução com no máximo 120x120 e evite usar fundo transparente.">  
                                    <%= f.file_field :photo, class: "txtBox" %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <br>                         

                          <div class="stepContainer" style="height: 179px;"></div>
                          <div class="actionBar">
                            <button type="submit"  class="buttonFinish">Atualizar</button>
                          </div>
                        </div>
                        <% end %> 
              </div>
            </div>
        </div>
    </div>   
</div>
      </div>
    </div>
</div>
<script>
$(function(){
  $("#photo[rel='tooltip']").tooltip();
  $("#member_email").inputmask({ alias: "email"});
  $("#member_phone").inputmask("(99)9999-9999");
})
</script>

